{% extends 'pacilboard/base.html' %}


{% block title %}PacilBoard - Confirmation Page{% endblock %}

{% block body %}
<div class="text-center">
    <p>Are you sure you wanna post this?</p> 
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <blockquote class="blockquote">
                <p class="message">{{new.msg}}</p>
                <footer class="blockquote-footer name">
                    {{new.name}}
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <form action="{% url 'pb:confirm' confirm=2 %}" method="POST" class="mt-1 mx-1">
            {% csrf_token %}
            <input type="hidden" name="name" id="form_name" value="{{new.name}}">
            <input type="hidden" name="msg" id="form_message" value="{{new.msg}}">
            <input  type="submit" class="btn btn-lg btn-outline-dark confirm" id="no" value="NO">
        </form> 
        <form action="{% url 'pb:confirm' confirm=1 %}" method="POST" class="mt-1">
            {% csrf_token %}
            <input type="hidden" name="name" id="form_name" value="{{new.name}}">
            <input type="hidden" name="msg" id="form_message" value="{{new.msg}}">
            <input  type="submit" class="btn btn-lg btn-dark confirm" id="yes" value="YES">
        </form>
    </div>
</div>
{% endblock %}
