{% extends 'pacilboard/base.html' %}
{% load static %}
{% block title %}PacilBoard - Home{% endblock %}

{% block heading %}
<h1>PacilBoard</h1>
<h3>Share your thoughts with the world.</h3>
{% endblock %}

{% block body %}
<form action="{% url 'pb:confirm' confirm=0 %}" method="POST">
    {% csrf_token %}
    <div class="w-50 mx-auto text-right">
        <div class="row m-1 w-50">{{new_msg.name}}</div>
        <div class="row m-1">{{new_msg.msg}}</div>
        <input id="submit" class="btn btn-lg btn-dark m-1" type="submit" value="Submit">
    </div>
</form>

<div class="masonry-wrapper">
    <div id="board">
        <div class="masonry">
        {% for status in status_msg %}
        <div class="card masonry-item" style="background: {{status.color}}; border-color: {{status.color}};">
            <div class="card-body">
              <form action="{% url 'pb:color' id=status.id %}" method="POST" class="">
                {% csrf_token %}
                <button type="submit" name="color" value="{{choice}}" class="btn btn-sm btn-dark float-right colorButton"></button>
              </form>
            <blockquote class="blockquote masonry-content">
                    <p class="message">{{status.msg}}</p>
                    <footer class="blockquote-footer masonry-footer name">
                        {{status.name}}
                    </footer>
                </blockquote>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
<div class="text-center masonry-footer">
    <p>Created with &#10084; with <a href="//w3bits.com/tools/masonry-generator/" target="_blank" rel="external noopener nofollow">CSS Masonry Generator</a></p>
</div>
</div><script src="//unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
{% endblock %}

{% block script %} 
<script>
    /**
 * Set appropriate spanning to any masonry item
 *
 * Get different properties we already set for the masonry, calculate 
 * height or spanning for any cell of the masonry grid based on its 
 * content-wrapper's height, the (row) gap of the grid, and the size 
 * of the implicit row tracks.
 *
 * @param item Object A brick/tile/cell inside the masonry
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeMasonryItem(item){
  /* Get the grid object, its row-gap, and the size of its implicit rows */
  var grid = document.getElementsByClassName('masonry')[0];
  if( grid ) {
    var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap')),
        rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows')),
        gridImagesAsContent = item.querySelector('img.masonry-content');

    /*
     * Spanning for any brick = S
     * Grid's row-gap = G
     * Size of grid's implicitly create row-track = R
     * Height of item content = H
     * Net height of the item = H1 = H + G
     * Net height of the implicit row-track = T = G + R
     * S = H1 / T
     */
    var rowSpan = Math.ceil((item.querySelector('.masonry-content').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));

    /* Set the spanning as calculated above (S) */
    item.style.gridRowEnd = 'span '+rowSpan;
    if(gridImagesAsContent) {
      item.querySelector('img.masonry-content').style.height = item.getBoundingClientRect().height + "px";
    }
  }
}

/**
 * Apply spanning to all the masonry items
 *
 * Loop through all the items and apply the spanning to them using 
 * `resizeMasonryItem()` function.
 *
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function resizeAllMasonryItems(){
  // Get all item class objects in one list
  var allItems = document.querySelectorAll('.masonry-item');

  /*
   * Loop through the above list and execute the spanning function to
   * each list-item (i.e. each masonry item)
   */
  if( allItems ) {
    for(var i=0;i>allItems.length;i++){
      resizeMasonryItem(allItems[i]);
    }
  }
}

/**
 * Resize the items when all the images inside the masonry grid 
 * finish loading. This will ensure that all the content inside our
 * masonry items is visible.
 *
 * @uses ImagesLoaded
 * @uses resizeMasonryItem
 * @link https://w3bits.com/css-grid-masonry/
 */
function waitForImages() {
  //var grid = document.getElementById("masonry");
  var allItems = document.querySelectorAll('.masonry-item');
  if( allItems ) {
    for(var i=0;i<allItems.length;i++){
      imagesLoaded( allItems[i], function(instance) {
        var item = instance.elements[0];
        resizeMasonryItem(item);
        console.log("Waiting for Images");
      } );
    }
  }
}

/* Resize all the grid items on the load and resize events */
var masonryEvents = ['load', 'resize'];
masonryEvents.forEach( function(event) {
  window.addEventListener(event, resizeAllMasonryItems);
} );

/* Do a resize once more when all the images finish loading */
waitForImages();
</script>
{% endblock %}

