{% extends 'pacilboard/base.html' %}
{% load static %}

{% block title %}PacilBoard - Profile{% endblock %}

{% block heading %}
<img src="{% static "logo-dark.png" %}" alt="logo" id="logo">
<h1>Profile | Pacilboard</h1>
<div class="btn btn-sm bg-dark theme-toggle" style="color: antiquewhite;">Switch Mode</div>
{% endblock %}

{% block body %}
<div class="text-center"> 
    <div class="wrapper">
    {% for item in accordion %}
        <div class="acc-item {{item.id}}">
            <div class="acc-header">
                <div class="float-right">
                    <i class="far fa-caret-square-up move-up"></i>
                    <i class="far fa-caret-square-down move-down"></i>
                </div>
                <div class="title">{{item.header}}</div>                
            </div>
            <div class="acc-body">
                <p>{{item.body}}</p> 
            </div>
        </div>    
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %} 
<script>
    $(document).ready(function(){
        $(".theme-toggle").click(function(){
            if ($("html").hasClass("dark")){
                $("html").removeClass("dark");
                $("html").addClass("light");
            } else {
                $("html").removeClass("light");
                $("html").addClass("dark");
            }            
        });

        $(".acc-header").click(function(){
            if ($(this).hasClass("active")){
                $(".acc-header").removeClass("active");
            } else {
                $(".acc-header").removeClass("active");
                $(this).addClass("active");
            }            
        })

        $(".move-down").click(function(){
            $(".acc-header").removeClass("active");
            //element to move
            var $el = $(this).parent().parent().parent();
            
            //move element down one step
            if ($el.not(':last-child'))         
                $el.next().after($el);
        });

        $(".move-up").click(function(){
            $(".acc-header").removeClass("active");
            //element to move
            var $el = $(this).parent().parent().parent();

            // //move element up one step
            if ($el.not(':first-child'))
                $el.prev().before($el);
        });         
    });
</script>
{% endblock %}