{% extends 'pacilboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}That's All I Ask of You{% endblock %}

{% block heading %}Log out{% endblock %}

{% block body %}
<div class="card signup p-4 mx-auto mb-5">
    <h2 class="lyrics">Say the words<br> 
        and I will follow you.</h2>
    <h4>You are now logged out.</h4>
    <p>Thank you for trying the user auth feature.</p>
    <div class="instead card-footer text-center">
        <small>
            Log in again <a href="{% url 'story10:login' %}" class="btn btn-sm btn-outline-dark ml-2">Log in</a>
        </small>
    </div>
</div>
{% endblock %}
