{% extends 'pacilboard/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}That's All I Ask of You{% endblock %}

{% block heading %}
<img src="{{ user.profile.image }}" alt="profilePic" style="border-radius: 100%; width: 200px; height: 200px;">
<h1 id="greetings">Hi there, {{ user.username }}. </h1>
<h4>What a beautiful name.</h4>
<div id="editProfile" data-toggle="modal" data-target="#edit" type="button" class="btn btn-outline-dark">Edit Profile</div>
<a id="logoutButton" href="{% url 'story10:logout' %}" type="button" class="btn btn-dark">Log Out</a>
{% endblock %}

{% block body %}
{% if user.profile.fname != "" %}
    <p id="fullname" class="text-center">So your name is {{ user.profile.fname }} {{ user.profile.lname }}? Wonderful. </p>
{% endif %}
<p class="text-center" style="opacity: .1;">Enjoy these text lyrics while you're here. They're from The Phantom of The Opera. I'm kinda obsessed, so sorry not sorry.</p>
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {% for snippet in snippets %}    
            <p class="m-3" style="color: {% cycle 'darksalmon' 'bisque' 'peachpuff' 'lightsalmon' 'lemonchiffon' 'khaki' %};">
                {% for line in snippet %}
                    {{ line }} <br>
                {% endfor %}
            </p>
        {% endfor %}
    </div>

<!-- Modal -->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: black;">Edit User Profile</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{% url 'story10:user' %}" method="POST" style="color: black;">
        <div class="modal-body">            
                {% csrf_token %}
                {{ form|crispy }}                        
        </div>
        <div class="modal-footer">
            <button id="saveEdit" type="submit" class="btn btn-dark mr-2">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </form> 
      </div>
    </div>
  </div>
<!-- End Modal -->
{% endblock %}